version: "3.8"
services:
  zookeeper:
    image: youtap:kafka
    container_name: kafkaZK
    environment:
      - KAFKA_ACTION=start-zk
    networks:
      youtap:
        ipv4_address: 10.0.100.22
  kafkaserver:
    image: youtap:kafka
    container_name: kafkaServer
    environment:
      - KAFKA_ACTION=start-kafka
    ports:
      - 9092:9092
    networks:
      youtap:
        ipv4_address: 10.0.100.23
    depends_on:
      - zookeeper
  kafkaTopic:
    image: youtap:kafka
    container_name: kafkaTopic
    environment:
      - KAFKA_ACTION=create-topic
      - KAFKA_PARTITION=1
      - KAFKA_TOPIC=youtap
    networks:
      youtap:
    depends_on:
      - zookeeper
      - kafkaserver
  # kafka-ui:
  #   image: provectuslabs/kafka-ui:latest
  #   container_name: kafkaWebUI
  #   environment:
  #     - KAFKA_CLUSTERS_0_NAME=local
  #     - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafkaServer:9092
  #   ports:
  #     - 8080:8080
  #   networks:
  #     - youtap
  #   depends_on:
  #     - kafkaserver
  logstash:
    image: youtap:logstash
    networks:
      - youtap
    environment:
      XPACK_MONITORING_ENABLED: "false"
    ports:
      - 9090:9090
    volumes:
      - ./youtap.conf:/usr/share/logstash/pipeline/logstash.conf
    depends_on:
      kafkaTopic:
        condition: service_completed_successfully
  kafkaConsumer:
    image: youtap:kafka
    container_name: kafkaConsumer
    environment:
      - KAFKA_ACTION=consumer
      - KAFKA_TOPIC=youtap
      - KAFKA_GROUP_ID=youtap
    networks:
      youtap:
    depends_on:
      kafkaTopic:
        condition: service_completed_successfully
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.7.1-arm64
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "xpack.security.enabled=false"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - youtap
  kibana:
    image: docker.elastic.co/kibana/kibana:8.7.1-arm64
    container_name: kibana
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    networks:
      - youtap
    depends_on:
      - elasticsearch
  spark:
    image: youtap:spark
    volumes:
      - ./spark/spark.py:/home/spark.py
    networks:
      - youtap
    container_name: spark
    depends_on:
      - elasticsearch
    restart: on-failure
networks:
  youtap:
    name: youtap
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.100.1/24
